apiVersion: apps/v1
kind: Deployment
metadata:
  name: tickets-depl
spec:
  replicas: 1 # tells how many pods to create
  selector: # tells deployment how to find the pods it's going to create'
    matchLabels:
      app: tickets
  template:
    metadata:
      labels:
        app: tickets
    spec:
      containers:
        - name: tickets
          # image: us.gcr.io/ticketing-dev-316319/tickets
          image: hg070817/tickets
          env:
            - name: TICKETS_MONGO_URI
              value: "mongodb://tickets-mongo-srv:27017/tickets"
            - name: jwt # Stephen used JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: jwt # Stephen used JWT_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: tickets-srv
spec:
  selector:
    app: tickets
  ports:
    - name: tickets
      protocol: TCP
      port: 3001
      targetPort: 3001
